.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2em 0em; 
  background-color:rgb(19, 20, 22); 
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 20px;
  padding: 0% 5%;
  width: 85%;
}

.types{
  display: inline-block;
  background-color: chocolate;
  padding: 5px 10px;
  margin-right: 10px;
  color: #FFF;
  border-radius: 4px;
}

.filters{
  margin-bottom: 1em;
}

.wrap-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  padding: 10px;
  perspective: 1000px;
  -webkit-perspective: 1000px;
  position: relative;
  width: 240px;
}

.card{
  position: relative;
  height: 300px;
  width: 240px;
  transform-style: preserve-3d;
  transition:  .7s ease;
  border-radius: 12px;
  background-color: #37343be7;
  color: #fff;
  border:5px solid #1086e8;
  box-shadow: 0 0 30px #03f;
}

.front-card, .back-card{
  width: 100%;
  height: 100%;
  position: absolute;
  
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility:hidden;
  
  flex-direction: column;
  align-items: center;
  display: flex;
}

.front-card img {
  width: 70%;
  height: 70%;
  margin-top: 30px;
}

.back-card{
  transform: rotateY(180deg);
  line-height: 8px;
}

.wrap-card:hover .card{
  transform: rotateY(180deg);
}


.Grass{
  background-color: #34ad43;
}

.Poison{
  background-color: #472ba5;
}

.Fire{
  background-color: #ea441f;
}

.Water{
  background-color: #1dd8d0;
}

.Flying{
  background-color: #1d83d8;
}

.Bug{
  background-color: #1dd84a;
}

.Normal{
  background-color: #c7d81d;
}

.list-powers{
  width: 80%;
}

.btn-power{
  padding-top: 20px;
}
